[2020-05-05 22:42] samip5 commented on #554
I rebased my PR, so it only has the base image change now, as needed.

[2020-05-05 23:14] Theaxiom commented on #554
Thank you.

On Tue, May 5, 2020, 3:42 PM Skyler Mäntysaari <notifications@github.com>
wrote:

[2020-05-05 23:15] Theaxiom commented on #554
Should probably release a new version first from master before merging this
in, too. I will do that.

On Tue, May 5, 2020, 4:13 PM Travis Rowland <travis.rowland@gmail.com>
wrote:

[2020-05-07 09:10] SimonHeimberg commented on #550
Note: piping the output hides the exit status code.

[2020-05-07 19:24] m0ngr31 opened #556 "beam.smp?"
I seeing my container use a ton of RAM. When I run top:
[code]

What is this? Why is it taking up so much ram?

[2020-05-12 23:43] Theaxiom commented on #554
I haven't forgot, just been very busy at work. I am doing this tonight, thanks for all your hard work and contributions!

[2020-05-13 23:07] Theaxiom commented on #554
Yeah I know, I said I would do this last night... didn't quite make it. I have it at the top of my priority list.

[2020-05-29 19:23] Theaxiom commented on #533
We are changing the version strategy to include Ubuntu version in baseimage version.

[2020-05-29 19:24] Theaxiom commented on #543
Implementing new version strategy based on @brandonkal suggestion.

[2020-05-29 19:39] SuperSandro2000 commented on #543
The official ubuntu image tags are:

18.04, bionic-20200403, bionic
19.10, eoan-20200410, eoan
20.04, focal-20200423, focal, latest, rolling
20.10, groovy-20200505, groovy, devel
14.04, trusty-20191217, trusty
16.04, xenial-20200326, xenial

So to be inline with official tags would mean to at least have the number and the name. Not one or the other.

[2020-05-29 20:00] Theaxiom commented on #554
It appears that I have been removed from the phusion organization on Docker Hub. Currently looking into this.

[2020-05-29 20:03] Theaxiom commented on #554
Apparently the organization changed on Docker Hub and I have to be re-added, @FooBarWidget sent an email back in February about it. Sit tight and we will get this resolved. :)

[2020-05-29 20:11] Theaxiom commented on #543
@SuperSandro2000 I don't think it is necessary to go beyond `bionic-1.0.0` as if you look at the Docker Hub for Ubuntu you will see that we can build from the `bionic` tag and we are not doing any regular/nightly builds.

I see your point regarding security updates though, it would be nice to know which image it was built from, but you can determine that from the date the image was built. It would

[2020-05-29 20:36] SuperSandro2000 commented on #543
I did not mean that this image needs nightly builds or support every version of Ubuntu. I wanted to say that I would prefer two tags: bionic-1.0.0 and 18.04-1.0.0 for the same image.

[2020-05-29 20:49] Theaxiom commented on #543
@SuperSandro2000 that's certainly reasonable. I did not mean to imply that you had indicated nightly builds, I was stating that if we were to be doing nightly builds, we would include the `20200403` portion of the version in our tags. I will release two tags based on your input:

- `bionic-1.0.0`
- `18.04-1.0.0`

[2020-05-29 20:49] #543 closed

[2020-05-29 23:32] Theaxiom commented on #554
Sandro,

I completely agree with you and I am a DevOps architect, I build CI(CD
pipelines for a living. Right now I am too busy and overloaded both
personally and professionally to fix the CI/CD pipeline, I am actually
deferring work at this very moment to get this release out to the community
because I honor my commitments. Since you seem so knowledgeable about the
subject, I would suggest you fi

[2020-05-29 23:49] SuperSandro2000 commented on #554
I would love to help but the fails are [related to a permission issue](https://travis-ci.org/github/phusion/baseimage-docker/jobs/692704080#L1189) on Docker HUB and I am afraid that I can't help there.

This already got [mentioned a few comments up](https://github.com/phusion/baseimage-docker/issues/554#issuecomment-623977873).

[2020-05-30 08:04] danryu commented on #554
As already mentioned, the only apparent problem with the CI/CD build are missing credentials for the "docker push" - as at https://travis-ci.org/github/phusion/baseimage-docker/jobs/692704078#L1185

Hopefully sorting out new valid credentials for Phusion on DockerHub won't be too difficult?

Would be good to get a 20.04-based phusion baseimage sorted as I would love to test using some software (pa

[2020-06-04 09:00] Theaxiom commented on #554
I got my credentials restored for phusion, pushing `phusion/baseimage-docker:bionic-1.0.0 now`

[2020-06-04 09:04] Theaxiom commented on #543
@SuperSandro2000 Just wanted to let you know I do appreciate your feedback and I agree entirely with you, I'v been super stressed at work lately and I should not allow it to affect my pragmatism. I hope to have the CI/CD pipeline working properly soon and have already made some recent changes to that effect. We use GitLab CI at work and I just haven't had the time to really take a deep dive into T

[2020-06-04 09:12] #554 closed

[2020-06-04 09:13] Theaxiom commented on #539
Need to get CI working first

[2020-06-04 09:33] Theaxiom opened #557 "bionic-1.0.0 released!"
CI pipeline is fixed, we have automatic builds and we will be able to release more often for minor updates. We are now working on getting baseimage up to speed with focal and that is currently merged into master. On behalf of the community, I would like to thank you all for your continued support!

[2020-06-04 09:44] Theaxiom commented on #543
@SuperSandro2000 CI pipeline is fixed, builds are fully automated now. 👍

Thank you for the inspiration and motivation! <3

[2020-06-04 09:47] Theaxiom commented on #539
Ci is now working, we can create a new branch. Which non-LTS release would you like to try first?

[2020-06-04 09:51] danryu commented on #557
Good job, fella!

[2020-06-04 09:52] Theaxiom commented on #554
I created https://github.com/phusion/baseimage-docker/releases/tag/focal-1.0.0-alpha1 and it will automatically build a pre-release and push to Docker Hub.

[2020-06-04 09:53] Theaxiom commented on #554
Ugh, just remembered that you can't have more than 1 hyphen in a Docker image tag. I will fix it by pushing another tag `focal-1.0.0alpha1`

[2020-06-04 09:56] Theaxiom commented on #554
Here you go: https://github.com/phusion/baseimage-docker/releases/tag/focal-1.0.0alpha1

[2020-06-04 09:58] Theaxiom commented on #557
https://github.com/phusion/baseimage-docker/releases/tag/focal-1.0.0alpha1 is available for those who would like to test it out (pre-release).

Thanks @danryu -- this is a community effort and what an awesome community it is! <3

[2020-06-04 10:17] samip5 commented on #554
@Theaxiom Could you fix the build error? https://travis-ci.org/github/phusion/baseimage-docker/jobs/694582397#L1806

[2020-06-04 10:20] Theaxiom commented on #554
@samip5 it started failing when the base image was switched to `focal` -- I will look into it when I have time, unless someone else can get to it before me.

[2020-06-04 10:20] Theaxiom commented on #554
`warning: /etc/service/sshd: unable to open supervise/ok: file does not exist`

[2020-06-04 10:21] samip5 commented on #554
But I don't understand why it's complaining it like that?

[2020-06-04 21:01] dclong commented on #539
How about 19.10?

[2020-06-04 21:02] dclong commented on #539
This might not be very useful since Ubuntu 20.04 is already out. But it helps in future when 20.10, etc. are released.

[2020-06-05 14:10] walkero-gr commented on #557
@Theaxiom Tested it today on one of my projects and seems to work great. The good thing is that tested with snyk and there are 0 vulnerabilities with this image, against the previous, based on Ubuntu 18.04 where there are 136 medium and minor issues.

On the other hand the image I build based on baseimage, increased size by 60MB.

Good work guys. Looking forward to test new versions.

[2020-06-07 23:47] Theaxiom commented on #557
@walkero-gr thanks for the feedback!

[2020-06-07 23:47] #557 closed

[2020-06-07 23:51] Theaxiom opened #558 "Fix arch build issues (arm, s390x)"
As reported in https://github.com/phusion/baseimage-docker/issues/554 -- there is a build issue: https://travis-ci.org/github/phusion/baseimage-docker/jobs/694582397#L1806

[2020-06-07 23:57] Theaxiom commented on #552
@Fazel94 We just released a new version of baseimage.

[2020-06-24 20:44] tcf909 commented on #451
This doesn't seem to work for me. kill -9 1 seems to be ignored.

[code]

Does not actually stop the container.

What am I missing?

[2020-06-26 17:52] dsargent3220 opened #559 "How to expose SSH publicly via node port"
The instructions say
"baseimage-docker does not expose the SSH server to the public Internet by default."
But they do not say how to turn this functionality on.
Is there a simple method to enable exposing this via a node port so I can ssh into a pod from a machine outside the cluster?
I've tried and cannot get it to work.  SSH just hangs.

[2020-06-26 22:16] Theaxiom commented on #559
@dsargent3220 may you please provide some more information about what you have tried? Also it would be helpful if you provided output from your commands, etc.

[2020-07-03 21:42] tcf909 opened #560 "Logging Output"
Hello, we are a modest user of phusion/baseimage-docker and really appreciate the efforts you have made in putting this image together.

One issue we run into is inconsistent output across various services we run.

1) We run services via /etc/service/name/run
2) Things like iptables -j LOG entries end up only in the serial output of a virtual instance
3) Output to /dev/stdout does not seem to mate

[2020-07-13 15:36] SimonHeimberg commented on #550
I was not the first with the idea of redirecting to /proc/1/fd/1, see https://github.com/phusion/baseimage-docker/issues/550

[2020-07-23 07:01] hmnd commented on #540
I am experiencing this same issue, too. I am on Solus. Anything I could provide that would be of help?

[2020-07-23 07:52] Theaxiom commented on #540
@hmnd Just any additional information that you think may be relevant. Thanks! :)

[2020-07-31 19:11] greenlogles opened #562 "Unable to pull docker image"
Hello

Starting from today I'm facing issue with pulling latest docker image:
[code]
I've seen that docker hub has updated tag names like 'master-amd'. Would it be at all possible to use 'latest' tag for newly pushed images ?

Thank you

[2020-07-31 20:07] p0wermilker commented on #562
I have the same problem, yesterday it worked normally but right now i can't pull the image, some solution?

[2020-07-31 21:00] Theaxiom commented on #562
When using baseimage-docker you have to specify a version, this is to protect you from issues down the road (predictability and traceability). If you insist on using unstable versions you can simply use `master-<arch>` for your tag. Replace `<arch` with the architecture you want.

The `latest` images was over 1 year old and people were still using it, without even knowing what it represents. This

[2020-07-31 21:03] p0wermilker commented on #562
I understand why i is not recomendable use the latest tag but in the phusion when i enter to docker hub i don't more tags, for that reason i always used the latest, Where is the reference to the tags of this image?

[2020-07-31 21:05] Theaxiom commented on #562
@p0wermilker https://hub.docker.com/r/phusion/baseimage/tags

[2020-07-31 21:12] jjborie commented on #562
Hi,

Can you tell us what is the equivalent of the latest default latest?

Thanks

[2020-07-31 22:31] greenlogles commented on #562
Thanks @Theaxiom for detailed explanation.
It's known that `latest` tag is not guarantee any compatibility with previous versions (the same like git master branch)

[2020-08-01 07:35] SuperSandro2000 commented on #562
@jjborie

[2020-08-03 17:15] Theaxiom commented on #562
@jjborie you can get latest release tags here: https://github.com/phusion/baseimage-docker/releases

[2020-08-03 17:15] Theaxiom commented on #562
@jjborie you can also find (all) the different arch tags here: https://hub.docker.com/r/phusion/baseimage/tags

[2020-08-08 23:20] kingdonb commented on #559
The instructions are not for Kubernetes, they are written for Docker machines. Kubernetes has some additional barrier to entry, I am assuming you had trouble climbing over it for one reason or another (it's ok!) If you're creating a service to expose SSH via nodeport, three or more things could have gone wrong, attaching this list in case you haven't figured it out, or for the next guy:

1) your N

[2020-08-19 09:54] srnae05 opened #563 "Vagrant up is unsuccessful"
Hi,
I tried to build a docker image from the repo, and when I make a vagrant up, I get the following error. I have Vagrant version 2.2.6
I am behind a corporate firewall, so I ensured correct proxy settings for http_proxy and https_proxy

An error occurred while downloading the remote file. The error
message, if any, is reproduced below. Please fix this error and try
again.

error:1408F10B:SSL rou

[2020-08-28 16:26] SimonHeimberg commented on #550
mentioned tools:
dma: https://github.com/corecode/dma
chrinic: https://joeyh.name/code/moreutils/

hint for any custom dma: cron calls sendmail like this: `sendmail -- -i -FCronDaemon -B8BITMIME -oem username` (username is the sending user)

[2020-08-30 16:55] uCatu opened #564 "PAM Audit System error is still an open issue"
Using version v0.11 released on Aug 16, 2018, when deployed on OCP recieving following errors for any [user manipulation command](https://linux.die.net/man/3/audit_log_acct_message) - for example `su`

[code]

The issue was [fixed](https://github.com/phusion/baseimage-docker/commit/3edd5d156464ae4d754dd4162027e776232ff5b7#diff-bf6629b5c10beb732c7f409b270824c4) at Jul 8, 2016, but than removed aug

[2020-09-03 11:08] #541 closed

[2020-09-13 10:00] bovender opened #565 "`/etc/container_environment/PATH` ignored"
I'm trying to set the `PATH` variable for my container, but it is not being picked up:

[code]

Am I missing something, or is this a bug?

I saw the merged PR #86, but it does not concern `PATH`?

[2020-09-14 23:06] samip5 commented on #558
@Theaxiom What's the current status?

[2020-09-17 22:14] Theaxiom commented on #558
@samip5 I will have to take a look, because last time I checked the builds were fine. This is relating to pull requests where their branch does not have access to the protected variables. (IIRC)

[2020-09-18 06:10] samip5 commented on #558
@Theaxiom I'm talking about focal build, which is still failing. At least ARM variant.

[2020-09-21 20:46] Theaxiom commented on #558
@samip5 thanks for clarifying. :)

[2020-09-23 19:02] laur89 opened #566 "[Q] one-off command still starts init, README suggests it shouldn't"
[Readme](https://github.com/phusion/baseimage-docker#running-a-one-shot-command-in-a-new-container) states:

From this I gather following example should _not_ start cron, nor execute scripts in `/etc/my_init.d/`:

    docker run -it --rm -e SOME_ENV_VAR=testvalue layr/borg-mysql-backup:0.0.5 -- cat /env_vars.sh

Yet `/env_vars.sh` is created by [setup.sh](https://github.com/laur89/docker-borg-mysq

[2020-09-23 19:18] laur89 commented on #566
It's because my image sets `/sbin/my_init` as ENTRYPOINT, not CMD, so everything gets executed via it anyway.

[2020-09-23 19:18] #566 closed

[2020-09-24 20:00] Theaxiom commented on #566
@laur89 you can override the entrypoint on startup.

[2020-09-24 20:02] Theaxiom commented on #565
I do not currently have the time to investigate this, perhaps @kingdonb or @hyperknot ?

[2020-09-25 02:26] samip5 commented on #558
Please fix the build error. It's preventing CI to push the actual manifests and thus making the tags correctly for each architecture.

https://travis-ci.org/github/phusion/baseimage-docker/jobs/730061275

[2020-09-25 04:34] laur89 commented on #566
Nah it's the proper way to start phusion-based containers IMO. I was just perplexed as to why the startup scripts were executing when running one-off commands; but that explains it and all's good.

[2020-09-29 14:12] marcusjwhelan commented on #319
This is also an issue exists on Ubuntu's 18.04 image

[2020-10-06 04:36] Theaxiom commented on #558
Something is wrong with Travis-CI, I am having to re-configure the repository integration from scratch. I am currently working on it.

[2020-10-06 04:40] Theaxiom commented on #558
@samip5 I have temporarily disabled the failing arch builds.

[2020-11-20 07:51] bando71 opened #569 "possible Privilege Escalation Problem with docker image running under ID0 ?"
Hi,
everything works fine with the phusion Image, til the kubernetes guys did activate a gatekeeper security option, which prevents the startup of the phusionimage because  a possibly privilege Escalation option.
I think, that its cause may be the "Init system" uses ID 0 (exec- it image /bin/bash  iam root.)
Can me someone give a hint, how can i use the phusion Image connecting with a unprivileged

[2020-12-08 03:08] matsuro-hadouken opened #571 ""/etc/container_environment" permissions issue"
FROM phusion/baseimage:master

Container quit instantly after start, following errors are in a log:

_*** Killing all processes...
Traceback (most recent call last):
  File "/sbin/my_init", line 414, in <module>
    main(args)
  File "/sbin/my_init", line 330, in main
    import_envvars(False, False)
  File "/sbin/my_init", line 90, in import_envvars
    for envfile in listdir("/etc/container_envi

[2020-12-08 05:43] PikachuEXE opened #572 "Move away from TravisCI?"
https://news.ycombinator.com/item?id=25338983
Maybe TravisCI still runs for this project but not sure for how long
Might be good to start the preparation early

[2020-12-17 11:29] ook commented on #571
I meet the same error, from an old image I just rebuild.

[2020-12-22 08:02] rolintoucour opened #573 "When will focal be available?"
Hi.

https://hub.docker.com/r/phusion/baseimage/tags?page=1&ordering=last_updated indicates that the focal version is alpha for 3 months. When do you plan to release it?

The repo doesn t seem to be frequently maintenained. will there still be updates and fixes?

Thx.

[2020-12-24 15:04] iammujtaba opened #574 "Python 3.9 support"
does phusion supports python 3.9?
I'm unable to install

[2021-01-09 10:28] debu99 opened #576 "how to run command after service starts"
like initialize the database schema?

[2021-01-11 20:59] guettli opened #577 "Ubuntu does not use Upstart any more"
README:

Ubuntu does not use Upstart any more

[2021-01-20 19:50] Theaxiom commented on #572
GitHub has CI now, we should definitely leverage it. Thank you for opening this issue!

[2021-01-20 20:32] Theaxiom commented on #571
Did you discover the problem and the solution?

[2021-01-20 20:34] Theaxiom commented on #573
@rolintoucour we need to ensure stability, you can always download the focal alpha image from Docker Hub and provide feedback! We are always accepting contributions and feedback, this baseimage is extremely stable and has been around for quite some time, that is why there are not many changes happening. Most changes are really to keep everything up to date with patches, etc.

[2021-01-20 20:37] Theaxiom commented on #574
There should be no reason why you cannot install Python 3.9 -- perhaps if you were more specific with your particular issue, we could provide possible solutions.

[2021-01-20 20:37] #574 closed

[2021-01-20 20:39] Theaxiom commented on #576
@debu99 you would put that in your init script:

1. wait for db connection
2. perform db operations

[2021-01-20 20:39] #576 closed

[2021-01-20 20:40] Theaxiom commented on #577
@guettli yes, baseimage-docker was created a very long time ago and has been maintained all this time. That was true when the statement was written and this comes from a blog post which was associated with the release of baseimage-docker.

[2021-01-20 20:40] #577 closed

[2021-01-29 11:46] fedex03 opened #578 "Cant ping any internet address"
Hi there,

I'm using your image to create a container that runs an application in background.
Evrything works well, but I noticed that my application cannot access to an online service used to perform some actions.

To check the container internet connection, I open a shell from the container and I tried to perform "apt update" but I get these errors:

`root@6edf67c6de33:/# apt get update
E: Inval

[2021-02-01 17:23] fedex03 commented on #578
I changed the Virtual Machine Ethernet Adapter from NAT to Bridge and everything works!

[2021-02-01 17:23] #578 closed

[2021-02-19 20:36] dsanpedro commented on #58
Thanks. This helped in an unrelated problem.

[2021-02-23 04:01] Theaxiom opened #579 "Looking for core maintainers"
My schedule is extremely hectic at my day job and my start-up is gaining momentum. Full transparency, I could use some help here with getting new versions out, reviewing pull requests, etc. If anyone is interested, please post here so we can connect. This project is far from dead, but it does indeed need a bit of TLC in order to keep it up to date, which I am currently unable to provide. Thanks so

[2021-02-23 18:38] anlek commented on #579
Hello,

Thank you for sharing and asking for help.

I was wondering how much of a commitment this is. What I mean is, is it 2 hours a week or 2 hours a day of reviews and whatnot. What would a good maintainer need to know to take this task on?

Thanks,
Andrew

[2021-02-25 08:23] Theaxiom commented on #579
@anlek those are fantastic questions!

1. This is not a huge commitment, this product is extremely stable and doesn't receive many pull requests. I would say that even 2 hours per month to start is extremely helpful!
2. A good maintainer needs to be familiar with CI/CD, some bash scripting and a bit of python. They also must be detail oriented and stand for quality.

Please let me know if you have

[2021-03-05 04:51] ojotoxy commented on #579
@Theaxiom  I'm a big fan of this project and think I could help out as well if needed.

[2021-03-20 23:26] cianwilson opened #580 "focal tag on docker hub"
Really great project.  Thanks for updating master to 20.04!

Would it be possible to have a (non-alpha) focal tag on dockerhub.  I'd like to build against 20.04 but don't want to risk using a migrating master tag.

[2021-03-22 12:28] Excodibur commented on #549
FYI, I had the same issue with **phusion/baseimage:focal-1.0.0alpha1-arm**.

In my case I was trying to build a new Docker image on Raspberry 4, but kept getting the same errors as above. In additon, when running `date` command, I saw that the time within the container was wrong (1970) which perhaps is related to the signatures being invalid.

Looking further at this post (https://bugs.launchpad.n

[2021-03-25 11:08] yakutovicha commented on #580
I think this is a duplication of #573 .

[2021-03-25 11:25] yakutovicha commented on #573
Hello,

Numpy drops support of python 3.7 in December (see [this table](https://numpy.org/neps/nep-0029-deprecation_policy.html#support-table)). The same happens to our AiiDA project (see [here](https://github.com/aiidateam/AEP/tree/master/003_adopt_nep_29#detailed-explanation)) which distributed through Docker images that we base on the Phusion base image.

@Theaxiom when you say

What exactly do

[2021-04-05 19:04] indiebrain opened #583 "`my_init` one-shot command exits with OOMKill, but container still reports successful execution"
Application Base Image: phusion/passenger-customizable:0.9.35
Image digest: d1d611f7ba99

The [baseimage-docker documentation for running "one-shot" commands](https://github.com/phusion/baseimage-docker#running-a-one-shot-command-in-a-new-container) indicates that one should probably use the `/sbin/my_init -- COMMAND ARGUMENTS` form to run one-shot commands to ensure that "important daemons such a

[2021-04-07 17:13] Konnichy opened #584 "Duplicate logrotate entries"
Hello,

Using another project built on this one, I periodically received the following notification by email:
[code]

After investigating, I notice that duplicates are introduced by your `logrotate.conf`, installed at the end of `syslog-ng.sh`, which contains `btmp` and `wtmp` sections. This doubles with files `/etc/logrotate.d/btmp` and `/etc/logrotate.d/wtmp`, which are already installed by the

[2021-04-19 06:19] shaunstoltz opened #585 "how to turn of secuirity check"
this POS

Command line syntax | passenger start --disable-security-update-check
-- | --
"disable_security_update_check": true
PASSENGER_DISABLE_SECURITY_UPDATE_CHECK=true
false
5.1.0

[2021-04-19 08:31] #585 closed

[2021-04-19 19:46] lw292 opened #586 "Image pulled has a different sha256 digest from the ones published in docker hub?"
Just pulled the "bionic-1.0.0" image, but the sha256 digest reported was different from the ones published on docker hub:
https://hub.docker.com/r/phusion/baseimage/tags?page=1&ordering=last_updated&name=bionic
Is this normal?
Thanks!

[2021-04-20 17:28] lw292 commented on #586
Never mind. I figured out. I had to specify the architecture in the pull request to get the matching digest.

[2021-04-20 17:28] #586 closed

[2021-04-29 11:17] sshishov commented on #579
Hello @Theaxiom , I also can try to help if needed? At least I can look over the issues and try to fix what I can understand :D

[2021-05-02 20:41] sanzenwin commented on #58
Helpful.

[2021-05-03 13:43] marco-pragliola opened #587 ":latest tag not present on Docker Hub"
Remembering that it's a better practice to point to a specific version, the `:latest` tag has disappeared from Docker hub.

[2021-05-05 21:27] Theaxiom commented on #549
@Excodibur thanks for the update. Is there a way we can add this workaround to our build?

[2021-05-05 21:28] Theaxiom commented on #580
@yakutovicha is correct.

[2021-05-05 21:28] #580 closed

[2021-05-05 21:29] Theaxiom commented on #573
@yakutovicha we haven't received any bug reports against focal, so we can bump it up to release.

[2021-05-05 21:30] Theaxiom commented on #579
@sshishov thanks for your interest, please feel free to submit any pull requests for submission. It is greatly appreciated! :)

[2021-05-05 21:35] Theaxiom commented on #583
You should be able to catch the failure in your script and then kill PID1 to cause a non-zero exit code.

[2021-05-05 21:36] Theaxiom commented on #584
@Konnichy could you please submit a PR to resolve this? It would be greatly appreciate, thank you!

[2021-05-05 21:38] Theaxiom commented on #585
@shaunstoltz I do not understand what you are asking here.

[2021-05-05 21:41] Theaxiom commented on #587
We do not push a latest tag, every version in Docker Hub represents a GIT version. Using `latest` is a terrible practice and I wish Docker never introduced that concept. If you want `latest`, simply use the `master` tag.

[2021-05-05 21:41] #587 closed

[2021-05-05 21:51] Theaxiom opened #588 "focal-1.0.0 Released!"
Thank you all for your patience and understanding, I apologize for how long this took. There is now an official focal release of baseimage-docker -- a huge thanks to all those who contributed and helped to bring this into reality! I love you all. <3

Enjoy!

[2021-05-05 21:51] #588 closed

[2021-05-05 21:51] Theaxiom commented on #573
I just released focal-1.0.0 -- thank you!

[2021-05-05 21:51] #573 closed

[2021-05-06 06:57] Excodibur commented on #549
@Theaxiom Unfortunately I don't think there is much you can do in your build to avoid this (at least in my case), since the problem needed to be solved on my local server (RPI4) where I tried to build a new Docker image using yours as base-image. So to me it looks like the problem is not with the image you build at all. At some point I assume RPI4 will get a lib update and then the issue resolves

[2021-05-06 13:17] indiebrain commented on #583
@Theaxiom , thanks for the reply.

The above example, I'm using the "one-shot" command form as documented in the README: `/sbin/my_init -- COMMAND ARGUMENTS`. I've been using this to run one-shot commands / scripts which I do not own, such as `bin/rails`, `yarn`, etc. I believe the suggestion "You should be able to catch the failure in your script" infers my_init assumes that `COMMAND` is always s

[2021-05-09 13:01] skliarie commented on #558
Any progress on this? It blocks phusion container release for ubuntu 20.04.. More than year after it been released..

[2021-05-09 15:36] dlandon opened #589 "Update syslog-ng.conf"
The following changes need to be made to the /etc/syslog-ng/syslog-ng.conf file:

Version: 3.13 -> Version: 3.25
use_dns(no) -> use_dns(yes)

to prevent errors.

[2021-05-12 15:43] sshishov commented on #558
Can we add more maintainers here? I guess that @Theaxiom is very busy.
I guess that some people are willing to support the project and make a change. Unfortunately, we cannot do anything with Pipeline as we do not have any permissions here.

[2021-05-12 15:46] Theaxiom commented on #558
@sshishov I have already put out a call to action for maintainers and we have added 2 more individuals.

[2021-05-12 15:47] Theaxiom commented on #589
Is there a pull request for this?

[2021-05-12 15:49] Theaxiom commented on #549
Thank you @Excodibur

[2021-05-21 15:29] #589 closed

[2021-05-21 15:30] Theaxiom commented on #584
This was resolved per PR.

[2021-05-21 15:30] #584 closed

[2021-06-03 17:08] rwillmer commented on #571
I've found the same after upgrading from the 18.04 to the focal version of baseimage (Thanks for producing it).
My image worked fine before, and failed with this error.
My Dockerfile sets the USER to a non-root user at the end of it; the directory is set to 700 so I guess that's causing the problem.
My workaround was to comment out that change of user in the Dockerfile, then it worked fine.

[2021-06-03 19:10] carukc opened #592 "cron and sshd appear in /etc/init.d/ and /etc/services (/etc/runit/runsvdir/default/) and cron starts up in both places"
I am not sure if it's an issue or if this is occuring within baseimage-docker or passenger-customizable (version:1.0.12) but I've just noticed that there are duplicate services in /etc/init.d/ and /etc/services.

For example... cron is enabled by default in passenger-customizable (version:1.0.12) so I see cron in the runit folders and as a result it seems to be started.  BUT, I also see cron in /e

[2021-06-05 10:29] ramoncio opened #593 "Can't pull image in CoreElec with kernel 4.9.113 aarch64 and Docker version 19.03.15"
I run CoreELEC in different amlogic boxes, and it has docker support.
This image would be great to be able to have a functional ubuntu on top of CoreELEC or LibreELEC, there are arm64 images, but none of them have baseimage-docker features.

Seeing this file, I guess you are adding support for different architectures?
https://github.com/phusion/baseimage-docker/pull/567/commits/1f44ae98c0f2ca79717

[2021-06-05 11:02] ramoncio commented on #593
I see it works in another Amlogic box with armbian, with a newer 5.9 kernel.
Any idea why in CoreELEC I get this "docker: no matching manifest for linux/arm/v8 in the manifest list entries" error??

`root@h96max:~# docker pull phusion/baseimage:focal-1.0.0
focal-1.0.0: Pulling from phusion/baseimage
80bc30679ac1: Pull complete
9bf18fab4cfb: Pull complete
5979309c983a: Pull complete
1357ffa77d61: P

[2021-06-05 11:09] ramoncio commented on #593
Copied that image to CoreELEC and it works just fine!

[2021-06-23 04:58] nysta1 commented on #319
I too have this apt-utils problem and it's really bringing the grade of development down, it says unable to.further configure after this.

[2021-06-25 12:26] c0derGitHub commented on #536
I got the same problem, but not the same image which is harbor prepare.I found that the container runs ok in centos 7.8 & 7.7 env, and failure in centos 7.9.😂

[2021-07-13 22:29] ralphschindler opened #594 "syslog-ng configuration file out of date and/or malformed"
I'm at a bit of a loss as to what is missing from the syslog-ng file...

[code]

Any ideas?

[2021-07-14 14:04] ralphschindler commented on #594
syslog-ng was not being started via the my_init script, which it requires for the sed/// to take place and update the configuration to be properly formed.

[2021-07-14 14:04] #594 closed

[2021-07-16 12:27] rufreakde commented on #319
Having also the apt-utils issue and when I want to install gcc of a specific version it also does not export it in the PATH correctly... after adding the install line of apt-utils it at least added the gcc files into the bin directory.

[code]

then I get the following errors on make gcc and so on:

[code]

After some googling I found this here
https://github.com/moby/moby/issues/27988

added the

[2021-07-16 12:30] rufreakde commented on #319
Update: just adding seems to do the trick for the ubuntu image. gcc is still not found in the path but that I can fix by hand I think.
[code]

[2021-08-12 16:03] samip5 commented on #593
Because currently the build is failing some builds which in turn is making it not execute the manifest task which is vital for manifests.

[2021-08-12 16:06] samip5 commented on #572
You can actually do multi-arch images quite easily with GitHub actions. Just an FYI.

P.S The Travis builds are currently [failing](https://travis-ci.org/github/phusion/baseimage-docker) one major task, maybe drop support for ppc64le and i386?

[2021-08-12 16:09] samip5 commented on #579
I can also help if needed, I could work on getting the CI moved  to Github Actions? :)

[2021-08-15 17:25] doctorpangloss opened #595 "You should probably simply the docs to show the memcached example very early on"
Otherwise it's pretty confusing how you use the thing.

[2021-08-15 21:22] stephanwehr commented on #319
The behavior is controlled by the configuration setting:
`DPkg::Pre-Install-Pkgs`

The default setting is configured via "/etc/apt/apt.conf.d/70debconf":
[code]

To disable the setting permanently:
[code]

To disable the setting temporarily:
[code]

Show less debconf warnings:
`ARG DEBCONF_NOWARNINGS="yes"`

Here is an example Docker file including all methods mentioned above, pick the one that fi

[2021-08-23 10:08] sshishov commented on #544
Hello @gorgia , could you please elaborate how you are testing if the port is open or not?
Make sure that you are testing from the container in the same network (in docker).
If you connect from local computer, make sure to forward port from local to container.

Looking forward to help you here.

[2021-08-23 10:11] sshishov commented on #540
@hmnd , @dziurka , @lbssousa - guys, could you please provide the instruction how to reproduce?
How you are building, where you are building. I am also on MacOS host linux and everything builds and starts for me without issues. If it is not starting under Arch linux, then please provide the steps how to reproduce it and we will be glad to help you.

Looking forward for the cooperation.

[2021-08-23 13:00] gorgia commented on #544
Hello @sshishov,
What I can say to you, after almost two year, is that I was unable to make it work. There was really no reason why the port accept connection only from localhost. I tested them with basic nmap.
So I sadly switched to ubuntu base image and with the same config everything has been working ever since.

[2021-08-23 13:24] sshishov commented on #544
@gorgia Thanks for your input. I tried to replicate the issue but for me I could connect to the container on port 22 from another container running inside same docker network. I have tested on `master` and on `focal-1.0.0`.
If you are not facing this issue now and we cannot reproduce it, would it be possible for you to close the issue with appropriate comment. In this case if someone else will fac

[2021-08-23 16:53] #544 closed

[2021-08-23 16:54] gorgia commented on #544
Sure. Thanks for trying.
unable to replicate

[2021-08-31 23:09] Theaxiom commented on #593
@samip5 how do we resolve this?

[2021-08-31 23:10] Theaxiom commented on #572
@samip5 yeah we can do that, sorry I have been completely swamped. I will take a shot at fixing the builds.

[2021-08-31 23:11] Theaxiom commented on #579
@samip5 thank you for offering, I have sent you an invite to become maintainer. Your support is greatly appreciated!

[2021-08-31 23:12] Theaxiom commented on #595
@doctorpangloss PR's are welcomed :)

[2021-08-31 23:13] Theaxiom commented on #319
Thank you @stephanwehr for your insight! :)

[2021-08-31 23:17] samip5 commented on #593
This is due to missing manifest which is due to the CI pipeline not getting all the way to the task which pushes the manifest. That's the last step which is not being ran due to the build errors before it.

[2021-08-31 23:19] Theaxiom commented on #593
@samip5 I've added you as maintainer, would you please create a PR to master to fix this and I will merge it? Thank you, I appreciate you! <3

[2021-08-31 23:20] samip5 commented on #593
Yeah, will do that.

[2021-08-31 23:37] samip5 commented on #572
@Theaxiom Seems that the builds for this repository on Travis CI has cheased so we are going to have to move to travis-ci.com OR Use Github Actions. Which one do you prefer?

[2021-08-31 23:39] Theaxiom commented on #579
@sshishov I have invited you as a maintainer, thank you! Your support is greatly appreciated!

[2021-08-31 23:39] #579 closed

[2021-08-31 23:39] Theaxiom commented on #572
@samip5 GitHub actions, since it is native.

[2021-08-31 23:42] samip5 commented on #572
Alright, I'm going to be working on getting the Github Actions workflow done for this.

[2021-08-31 23:45] Theaxiom commented on #572
@samip5 My email address is travis.rowland@d11y.co -- drop me an email so we can be connected outside of GitHub. 👍

[2021-08-31 23:47] samip5 commented on #572
Dropped you an email.

[2021-09-02 18:45] Theaxiom opened #597 "We now have a Discord server!"
This is a public server that anyone can join. You may join us by using this link: https://discord.gg/PRT86Cdgnr

[2021-09-02 19:47] samip5 commented on #593
There is now a focal-1.1.0 image, which you may want to try.

[2021-09-02 19:55] samip5 commented on #562
This issue has been stale for more than a year, I'm going to close this.

[2021-09-02 19:55] #562 closed

[2021-09-02 19:57] #498 closed

[2021-09-02 19:58] samip5 commented on #571
Glad you got it working, closing.

[2021-09-02 19:58] #571 closed

[2021-09-02 20:01] #542 closed

[2021-09-02 20:04] samip5 commented on #434
Stale issue, closing.

[2021-09-02 20:04] #434 closed

[2021-09-02 20:08] samip5 commented on #539
@dclong or @kzila Are you still interested in this?

[2021-09-02 20:09] samip5 commented on #525
Stale issue, closing.

[2021-09-02 20:09] #525 closed

[2021-09-02 20:26] samip5 commented on #504
@kingdonb Has anything been done about this and is this valid issue still?

[2021-09-02 20:28] samip5 commented on #536
Which version of the baseimage is being used here? Has this been tested with the focal images?

[2021-09-02 22:12] #471 closed

[2021-09-02 22:12] #558 closed

[2021-09-02 22:12] #572 closed

[2021-09-02 22:12] #518 closed

[2021-09-03 15:54] kingdonb commented on #504
I think it can be closed. The resolution for now is, searches for "localtime is a broken link" related to baseimage-docker will hopefully land people here, where they will learn that if they need local time zone configuration, they should install the `tzdata` package and configure the timezone appropriately.

There should not be any time zone configuration in the upstream base image, as we will ha

[2021-09-04 01:15] #504 closed

[2021-09-09 01:25] #592 closed

[2021-09-09 01:25] #583 closed

[2021-09-09 01:25] #569 closed

[2021-09-09 01:25] #563 closed

[2021-09-09 01:25] #560 closed

[2021-09-09 01:25] #559 closed

[2021-09-09 01:25] #556 closed

[2021-09-09 01:25] #551 closed

[2021-09-09 01:25] #550 closed

[2021-09-09 01:25] #549 closed

[2021-09-09 01:25] #546 closed

[2021-09-09 01:25] #545 closed

[2021-09-09 01:25] #537 closed

[2021-09-09 01:25] #493 closed

[2021-09-09 01:25] #475 closed

[2021-09-09 01:25] #474 closed

[2021-09-09 01:25] #472 closed

[2021-09-09 01:25] #468 closed

[2021-09-09 01:25] #467 closed

[2021-09-09 01:25] #454 closed

[2021-09-09 01:26] #450 closed

[2021-09-09 01:26] #420 closed

[2021-09-09 01:26] #405 closed

[2021-09-09 01:26] #403 closed

[2021-09-09 01:26] #401 closed

[2021-09-10 09:32] samip5 commented on #593
A month has passed, without any input from Author, marking as stale, and closing automatically if no further action occurs.

[2021-09-13 01:24] #540 closed

[2021-09-13 19:08] Theaxiom commented on #504
Thank you @kingdonb -- you are awesome and I appreciate you!

[2021-09-16 01:26] #593 closed

[2021-09-22 01:25] #319 closed

[2021-09-23 01:26] #565 closed

[2021-09-23 01:26] #564 closed

[2021-09-23 01:26] #539 closed

[2021-09-23 01:26] #536 closed

[2021-09-23 01:26] #455 closed

[2021-10-18 15:19] mserranom opened #602 "Changelog for `focal-1.1.0`"
# Details

`focal-1.1.0` doesn't appear in [Github releases](https://github.com/phusion/baseimage-docker/releases), but it's been released to [Dockerhub](https://hub.docker.com/layers/phusion/baseimage/focal-1.1.0/images/sha256-12aeeecfff1a6af0b3b65291aba13f7641d1f3fd6d6c4098507702f33c03c096?context=explore).

Digging in [the Discord channel](https://discord.com/channels/883039811823357952/8830402

[2021-10-19 20:41] Theaxiom commented on #602
@mserranom I found out what happened, someone named a branch using our release naming scheme and it automatically built and pushed a corresponding image (we build and push all branches for testing purposes).

focal-1.1.0 was not released actually, so we are going to figure out how to prevent this from happening in the future. Thank you for bringing this to our awareness.

[2021-10-20 08:06] mserranom commented on #602
Thanks @Theaxiom

[2021-10-20 08:06] #602 closed

[2021-12-31 17:36] Neptunium1129 opened #605 "hi. rocky8 or centos8 not support?"
in cent8, rocky8

There is a problem with the zombie process.

[2021-12-31 17:37] samip5 commented on #605
Please explain in more detail. What's the actual issue? We also don't provide images for Rocky nor CentOS.

[2022-01-01 03:47] Neptunium1129 commented on #605
env : https://hub.docker.com/r/rockylinux/rockylinux

install images > Dockerfile for systemd base image

service stop -> zombie process was occured

[2022-01-01 04:10] Neptunium1129 commented on #605
![image](https://user-images.githubusercontent.com/32185134/147843785-3d7b5a82-ce22-4a4c-8d5f-3513b48f39df.png)

[2022-01-01 11:22] Neptunium1129 commented on #605
solved , use option-> --init

[2022-01-01 11:22] #605 closed

[2022-01-17 22:35] peterlobster opened #606 "Change container builder from Docker to Buildah/Podman"
# Details

There has been a recent trend moving away from Docker's original tooling, in favor of tooling with better OCI support. My suggestion is to update the tooling for building this container to something that could be either compatible with both Docker and OCI tooling (like Podman) or to add an option to use something like Buildah to build an OCI compatible container image.

Currently, the c

[2022-01-17 23:07] samip5 commented on #606
Could you please share the errors you encounter when trying to build with Podman?

[2022-01-18 13:58] peterlobster commented on #606
[code]

[2022-03-04 05:13] boussou commented on #319
in the end the reco from @stephanwehr is enough:
just add this at the beginning of your dockerfile

    ENV DEBIAN_FRONTEND noninteractive
    ENV DEBCONF_NOWARNINGS="yes"

[2022-03-04 12:49] edegaudenzi commented on #271
Needed to add

```mkdir -p /var/run/apache2```

to make it work in 2022

[2022-03-08 05:21] josegonzalez commented on #595
I think the doc location is fairly early on. The readme contains a lot of information, and without moving things around or creating a proper docs site, it does a good job of showing what you can do with this image.

[2022-03-08 05:26] josegonzalez opened #607 "There is a missing tag for focal-1.1.0"
# Details

The tag exists on [docker hub](https://hub.docker.com/layers/phusion/baseimage/focal-1.1.0/images/sha256-b97106632d63119a59c071e32c119bd2d85f526cabb37552faf93fdff87f6ff2?context=explore) but not on github.

Seems it happened somewhere [here](https://github.com/phusion/baseimage-docker/compare/focal-1.0.0...master#diff-7829468e86c1cc5d5133195b5cb48e1ff6c75e3e9203777f6b2e379d9e4882b3R24).

[2022-03-08 21:20] samip5 commented on #607
If I remember right, @Theaxiom was supposed to delete it from Docker Hub?

[2022-03-08 22:21] josegonzalez commented on #607
Ah nooo please don't delete it, I'm using it in dokku now because the focal-1.0.0 one doesn't have an arm release.

[2022-03-09 16:29] samip5 commented on #607
Related: https://github.com/phusion/baseimage-docker/issues/602

[2022-03-13 20:15] rolandhemmer commented on #319
This. This is exactly what I was looking for.
These two lines (and these two only) work exactly as intended. Didn't have to do anything else, no more warnings, life goes on, my wife didn't leave me, my dog is happy, I can finally rest.
Many thanks!

[2022-03-16 20:13] samip5 commented on #607
@josegonzalez There's a new version available with a changelog, so I'm closing this even though 1.1 doesn't have one.

[2022-03-16 20:13] #607 closed

[2022-03-16 20:16] josegonzalez commented on #607
Love it!

[2022-04-11 05:54] nbctcp opened #609 "pull error"
# Details
# docker pull phusion/baseimage
Using default tag: latest
Error response from daemon: manifest for phusion/baseimage:latest not found: manifest unknown: manifest unknown

**Image version:**
latest today

**What steps did you take and what happened:**

**What did you expect to happen:**

**Anything else you would like to add:**
no image if I pull from portainer

**Additional Information:*

[2022-04-12 05:40] samip5 commented on #609
What is the outpot of `uname -m` on that system you tried to pull from?

[2022-04-14 21:48] cu commented on #609
As far as I can see, there's no `latest` tag on docker hub: https://hub.docker.com/r/phusion/baseimage/tags?page=1&name=latest

There are 3 `latest-<arch>` but those are 3 years old.

[2022-04-14 22:16] samip5 commented on #609
That's because we use tagged version releases rather than latest so not a bug.

[2022-04-14 22:16] #609 closed

[2022-04-24 06:35] Mugane commented on #319
Now I get
[code]

[2022-04-24 06:42] Mugane commented on #319
Even after adding
[code]
I still get this for the install of apt-utils:
[code]

[2022-04-25 11:05] engkimo opened #610 "Is the version of 0.10.2 alreadly outdated..?"
# Details
Hi. When I builded php7.2-environment on this version of image as usual, but It failed and outputed build-error like the following.

<img width="1026" alt="2022-04-25 13 09 08" src="https://user-images.githubusercontent.com/802133/165075807-e1f220c7-fb66-4a43-be40-9c29adbfbd11.png">
<img width="1028" alt="2022-04-25 13 09 35" src="https://user-images.githubusercontent.com/802133/16507581

[2022-04-25 11:28] samip5 commented on #610
You're using EOL version of Ubuntu so that's why it doesn't find it. That 0.10.2 is from 4 years ago.

Please use version called focal `ghcr.io/phusion/baseimage:focal-1.2.0` or `github.com/phusion/baseimage:focal-1.2.0`.

[2022-04-25 11:28] #610 closed

[2022-04-25 12:38] engkimo commented on #610
@samip5
Thank you for your shortly reply! Certainly, it seems that the version of os is old. I thought GPG KEY was still valid and I could use this OS if I updated the package repository. However, I'll replace it with a new one.

[2022-05-20 12:31] jonknud opened #612 "apt does not work"
# Details

**Image version:**

phusion/baseimage:jammy-1.0.0

**What steps did you take and what happened:**

I tryed to run apt install in the docker image.

It did not install the wanted packege

It though an error

In focal-1.2.0 this worked

**What did you expect to happen:**

It installs the packege

**Anything else you would like to add:**

I am not sure if it is an bug. But I could not find

[2022-05-20 18:34] samip5 commented on #612
That sounds like a bug, so I'm marking it as such.

[2022-05-23 20:32] #612 closed

[2022-05-23 20:40] samip5 commented on #612
It does work for me:

[code]

[2022-05-24 20:00] jonknud commented on #612
Thank you very much :-)

When will the update be in docker hub?

(If you are busy, no problem. I can use the release files)

[2022-05-26 10:39] jonknud commented on #612
I tryed a little more. And your image works with docker-ce from docker.com on centos 7 but it does not work on the docker version from redhat / centos in centos 7.

The version from centos is old: ``Docker version 1.13.1``.

I probably have to upgrade the docker version on the servers or wait for almalinux 8/9 ...

Thank you a lot for your help.

[2022-05-31 16:00] samip5 commented on #606
You seem to be missing an argument, and thus it fails but unfortunately it's been a while since I have tried to build it via make, should probably update it but it should currently work when you pass in `--platform amd64` for example.

[2022-06-30 15:17] cairoapcampos opened #616 "syslog-ng warning"
# Details

**Image version:** phusion/baseimage:jammy-1.0.0

**What steps did you take and what happened:**  When I view the logs (docker-compose logs) I get the message.

**What did you expect to happen:** I believe this message should not appear in the log.

**Anything else you would like to add:**

**Additional Information:**

**Message**

WARNING: Configuration file format is too old, syslog-n

[2022-06-30 15:28] cairoapcampos opened #617 "User inside the container"
# Details

**Describe the solution you'd like:** A non-root user can be used when the container is started.

**Anything else you would like to add:**

**Additional Information:** Using a user other than root seems to be safer.

[2022-06-30 15:39] cairoapcampos opened #618 "Timezone change"
# Details

**Image version:** phusion/baseimage:jammy-1.0.0

**What steps did you take and what happened:** When starting the container, the timezone is set to UTC. I would like the timezone to be like America/Sao_Paulo. Later I tried to modify the image by installing the tzdata package and setting the desired timezone. However, the timezone was still set to UTC.

**What did you expect to happen:*

[2022-07-01 08:54] qindongliang commented on #319
Simplest answer, the nasty warning is finally gone

[2022-07-14 00:46] #618 closed

[2022-07-15 18:57] torbjorn opened #619 "The docker pull command on the hub.docker.com page doesn't work"
# Details

It tries to pul the :latest tag that doesn't exist. Perhaps you could put the most recent tag up there that does exist? It's nice to have somewhere to click to get a docker pull that just works. (And its annoying to see all these docker pulls that _do not_ work)

[2022-07-16 03:25] samip5 commented on #619
That's not an issue, as we are not using an latest tag.

[2022-07-16 03:25] #619 closed

[2022-07-19 17:41] burgerrg commented on #616
See pull request https://github.com/phusion/baseimage-docker/pull/615.

[2022-07-20 07:10] #616 closed

[2022-08-01 10:01] BEEDELLROKEJULIANLOCKHART commented on #417
Was this ever remediated, or has @kingdonb decided to ignore this?

[2022-08-01 16:27] kingdonb commented on #417
LOL if there is an issue here, please submit a PR. I do not have the time to follow up this report from 2017 without any further context about what should be followed up.

I think given the fact that Kubernetes clusters have technologies like service mesh which can authorize TCP services without requiring any authentication to be baked into the secured protocol, there is even a case today that it

[2022-08-05 11:43] pirhoo commented on #617
This is how I did it, at the end of my Dockerfile

[code]

My `entrypoint.sh` is as simple as:

[code]

I tried several things with `/sbin/setuser` but it didnt work so far. Let me know if you think it's a bad idea! I know they have been many discussions about running this image as non-root users. This is the only solution I found so far to do it.

[2022-08-05 12:16] cairoapcampos commented on #617
I will test your solution. Thanks.

[2022-08-24 19:53] HydroMoon commented on #617
I would love to know your finding guys for setting a non root users.

Thanks